<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
    
   <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>
    
   <body>
    
      <th:block th:include="/_menu"></th:block>  
       
      <h2 style="font-family:verdana;">Accounts</h2>
       
    
       
      <table border="1" style="font-family:verdana;">
            <tr>
               <th>Account Number</th>
               <th>First Name</th>
               <th>Last Name</th>
            </tr>
            <tr th:each ="account : ${accounts}">
               <td th:utext="${account.accountNumber}">...</td>
               <td th:utext="${account.firstName}">...</td>
               <td th:utext="${account.lastName}">...</td>
            </tr>
      </table>
       
   </body>
</html>